<!DOCTYPE html>
<!--[if IE 7]>
<html class="no-js IE7 IE" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>
<html class="no-js IE8 IE" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9]>
<html class="no-js IE9 IE" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->

<head>

    <meta name="google-site-verification" content="WOXtlImhZ0UOSW0VFX6RqCxH-2bgIXb-MD8w5FyV2zA"/>
    <title>{{article.title}} - The Tattler</title>
    <!-- Basic Meta Data -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- WordPress -->
    <link rel="pingback" href="http://www.ihstattler.com/wp/xmlrpc.php"/>


    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel="alternate" type="application/rss+xml"
          title="The Tattler &raquo; {{article.title}} Comments Feed"
          href="http://www.ihstattler.com/blog/2019/04/ihs-students-create-anti-gunviolence-organization/feed/"/>
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/",
            "svgExt": ".svg",
            "source": {"concatemoji": "http:\/\/www.ihstattler.com\/wp\/wp-includes\/js\/wp-emoji-release.min.js"}
        };
        !function (a, b, c) {
            function d(a) {
                var b, c, d, e, f = String.fromCharCode;
                if (!k || !k.fillText) return !1;
                switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
                    case"flag":
                        return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c);
                    case"emoji4":
                        return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e
                }
                return !1
            }

            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }

            var f, g, h, i, j = b.createElement("canvas"), k = j.getContext && j.getContext("2d");
            for (i = Array("flag", "emoji4"), c.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.everything || (g = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='tt-easy-google-fonts-css'
          href='http://fonts.googleapis.com/css?family=Source+Serif+Pro%3A700&#038;subset=latin-ext&#038;ver=4.7.13'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='watson-primary-font-css'
          href='http://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C600%2C700%2C300italic%2C400italic%2C600italic%2C700italic&#038;ver=4.7.13'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='watson-secondary-font-css'
          href='http://fonts.googleapis.com/css?family=PT+Serif%3A400%2C700%2C400italic%2C700italic&#038;ver=4.7.13'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='watson-style-css' href='http://www.ihstattler.com/wp/wp-content/themes/watson/style.css'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='gadwp-nprogress-css'
          href='http://www.ihstattler.com/wp/wp-content/plugins/google-analytics-dashboard-for-wp/common/nprogress/nprogress.css?ver=4.9.6.2'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='gadwp-frontend-item-reports-css'
          href='http://www.ihstattler.com/wp/wp-content/plugins/google-analytics-dashboard-for-wp/front/css/item-reports.css?ver=4.9.6.2'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='dashicons-css' href='http://www.ihstattler.com/wp/wp-includes/css/dashicons.min.css'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='wp-jquery-ui-dialog-css'
          href='http://www.ihstattler.com/wp/wp-includes/css/jquery-ui-dialog.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' id='newsletter-subscription-css'
          href='http://www.ihstattler.com/wp/wp-content/plugins/newsletter/subscription/style.css?ver=4.7.6'
          type='text/css' media='all'/>
    <script type='text/javascript'
            src='http://www.ihstattler.com/wp/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript'
            src='http://www.ihstattler.com/wp/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript'
            src='http://www.ihstattler.com/wp/wp-content/themes/watson/javascripts/theme.js'></script>
    <script type='text/javascript'
            src='http://www.ihstattler.com/wp/wp-content/plugins/google-analytics-dashboard-for-wp/common/nprogress/nprogress.js?ver=4.9.6.2'></script>
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <link rel='https://api.w.org/' href='http://www.ihstattler.com/wp-json/'/>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.ihstattler.com/wp/xmlrpc.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="http://www.ihstattler.com/wp/wp-includes/wlwmanifest.xml"/>
    <meta name="generator" content="WordPress 4.7.13"/>
    <link rel='shortlink' href='http://www.ihstattler.com/?p=6192'/>
    <link rel="alternate" type="application/json+oembed"
          href="http://www.ihstattler.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.ihstattler.com%2Fblog%2F2019%2F04%2Fihs-students-create-anti-gunviolence-organization%2F"/>
    <link rel="alternate" type="text/xml+oembed"
          href="http://www.ihstattler.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.ihstattler.com%2Fblog%2F2019%2F04%2Fihs-students-create-anti-gunviolence-organization%2F&#038;format=xml"/>
    <script type="text/javascript">
        window._zem_rp_post_id = '6192';
        window._zem_rp_thumbnails = true;
        window._zem_rp_post_title = 'IHS+Students+Create+Anti-GunViolence+Organization';
        window._zem_rp_post_tags = ['features', 'prasad', 'violenc', 'zoei', 'dougla', 'parkland', 'moor', 'student', 'school', 'chloe', 'america', 'ithaca', 'gun', 'nation', 'leah', 'florida'];
        window._zem_rp_static_base_url = 'https://content.zemanta.com/static/';
        window._zem_rp_wp_ajax_url = 'http://www.ihstattler.com/wp/wp-admin/admin-ajax.php';
        window._zem_rp_plugin_version = '1.14';
        window._zem_rp_num_rel_posts = '4';
        window._zem_rp_admin_ajax_url = 'http://www.ihstattler.com/wp/wp-admin/admin-ajax.php';
        window._zem_rp_ajax_nonce = '67ce2500bb';
        window._zem_rp_plugin_static_base_url = 'http://www.ihstattler.com/wp/wp-content/plugins/related-posts-by-zemanta/static/';
        window._zem_rp_erp_search = true;
    </script>
    <link rel="stylesheet"
          href="http://www.ihstattler.com/wp/wp-content/plugins/related-posts-by-zemanta/static/themes/momma.css?version=1.14"/>
    <script type="text/javascript">
        var watsonThemeMenuText = 'Menu';
        (function ($) {
            $(document).ready(function () {
                $('.responsive-slides .slides').each(function () {
                    var dataAutostart = $(this).parent().attr('data-autostart');
                    var autostart = !(typeof dataAutostart === 'undefined');

                    $(this).responsiveSlides({
                        nav: true,
                        auto: autostart,
                        prevText: 'Previous',
                        nextText: 'Next',
                        controls: 'ul.rslides-direction-nav',
                        timeout: 7000
                    });
                });
            });
        })(jQuery);
    </script>
    <style type="text/css" id="watson-color-styles">

        a, h5, .run-in, .end:after, a.custom-more-link, .post-roll article.post .post-content nav span a,
        footer.post-footer a[rel="prev"]:before, footer.post-footer a[rel="next"]:after, .widget_watsonthemerecentlydiscussedwidget .recent-post:hover h4:after,
        span.required, .responsive-slides a.prev:before, .responsive-slides a.next:after, .featured-article p span {
            color: #dd3535;
        }

    </style>
    <link rel="icon" href="http://www.ihstattler.com/wp/wp-content/uploads/2015/05/favicon1.png" sizes="32x32"/>
    <link rel="icon" href="http://www.ihstattler.com/wp/wp-content/uploads/2015/05/favicon1.png" sizes="192x192"/>
    <link rel="apple-touch-icon-precomposed"
          href="http://www.ihstattler.com/wp/wp-content/uploads/2015/05/favicon1.png"/>
    <meta name="msapplication-TileImage"
          content="http://www.ihstattler.com/wp/wp-content/uploads/2015/05/favicon1.png"/>
    <style id="tt-easy-google-font-styles" type="text/css">p {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    h1 {
        font-family: 'Source Serif Pro' !important;
        font-style: normal !important;
        font-weight: 700 !important;
        line-height: 1.1 !important;
    }
    </style>
    <!-- MailMunch for http://ihstattler.com -->
    <!-- Paste this code right before the </head> tag on every page of your site. -->
    <script src="//s3.amazonaws.com/mailmunch/static/site.js" id="mailmunch-script" data-mailmunch-site-id="61008"
            async></script>

</head>
<body class="post-template-default single single-post postid-6192 single-format-standard logged-in">
<div id="container">
    <header role="banner">
        <div class="branding">
            <a href="http://www.ihstattler.com/">
                <img class="logo" src="http://www.ihstattler.com/wp/wp-content/uploads/2015/05/Tattler-Logo.png"
                     alt="The Tattler" title="Home">
            </a>
        </div>
        <h6 class="tagline">April 2019 | Vol. 126 #8| Published Monthly<br/><font color="#DD3535"><a
                href="/write"><b><u>Write for the Tattler!</u></b></a></font></h6>
        <nav role="navigation">
            <div class="clear">
                <ul id="menu-sections" class="nav">
                    <li id="menu-item-1430"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1430"><a
                            href="http://www.ihstattler.com/blog/category/news/">News</a></li>
                    <li id="menu-item-1431"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1431"><a
                            href="http://www.ihstattler.com/blog/category/opinion/">Opinion</a></li>
                    <li id="menu-item-1432"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-1432">
                        <a href="http://www.ihstattler.com/blog/category/features/">Features</a></li>
                    <li id="menu-item-1433"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1433"><a
                            href="http://www.ihstattler.com/blog/category/centerspread/">Center Spread</a></li>
                    <li id="menu-item-3534"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3534"><a
                            href="http://www.ihstattler.com/blog/category/literary/">Literary</a></li>
                    <li id="menu-item-1434"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1434"><a
                            href="http://www.ihstattler.com/blog/category/arts/">Arts</a></li>
                    <li id="menu-item-1435"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1435"><a
                            href="http://www.ihstattler.com/blog/category/sports/">Sports</a></li>
                    <li id="menu-item-1436"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1436"><a
                            href="http://www.ihstattler.com/blog/category/backpage/">Back Page</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <div id="post-6192"
             class="post-6192 post type-post status-publish format-standard hentry category-features byline-vaynu-kadiyali">
            <div class="entry">
                <header class="post-title">
                  <h1 class="heading"> {{article.title}} </h1>
                    <p class="post-byline">
                        By <span class="post-author"><a href="http://www.ihstattler.com/blog/author/editor/"
                                                        title="Posts by &lt;a href=&quot;http://www.ihstattler.com/blog/byline/vaynu-kadiyali/&quot; rel=&quot;tag&quot;&gt;VAYNU KADIYALI&lt;/a&gt;"
                                                        rel="author"><a
                            href="http://www.ihstattler.com/blog/byline/{{article.byline.nice_name}}/"
                            rel="tag">{{article.byline.human_name}}</a></a></span> / <a
                            href="http://www.ihstattler.com/blog/category/features/" rel="category tag">{{article.category.nice_name}}</a> /
                        <time pubdate="pubdate">{{pubdate}}</time>
                    </p>
                </header>
                <p>&nbsp;</p>

                {{article.get_content|safe}}

                <div class="zem_rp_wrap zem_rp_th_momma" id="zem_rp_first">
                    <div class="zem_rp_content"><h3 class="related_post_title"><br><br>Related<br></h3>
                        <ul class="related_post zem_rp">
                            <li data-position="0" data-poid="in-5421" data-post-type="none"><a
                                    href="http://www.ihstattler.com/blog/2018/04/its-time-for-a-change/"
                                    class="zem_rp_thumbnail"><img
                                    src="http://www.ihstattler.com/wp/wp-content/uploads/2015/06/tw-150x150.png"
                                    alt="It’s Time for a Change" width="150" height="150"/></a><a
                                    href="http://www.ihstattler.com/blog/2018/04/its-time-for-a-change/"
                                    class="zem_rp_title">It’s Time for a Change</a></li>
                            <li data-position="1" data-poid="in-5513" data-post-type="none"><a
                                    href="http://www.ihstattler.com/blog/2018/05/local-high-school-students-advocate-gun-control-measures/"
                                    class="zem_rp_thumbnail"><img
                                    src="http://www.ihstattler.com/wp/wp-content/uploads/2018/05/Geneva-Moreland-150x150.jpeg"
                                    alt="Local High School Students Advocate for Gun Control Measures" width="150"
                                    height="150"/></a><a
                                    href="http://www.ihstattler.com/blog/2018/05/local-high-school-students-advocate-gun-control-measures/"
                                    class="zem_rp_title">Local High School Students Advocate for Gun Control
                                Measures</a></li>
                            <li data-position="2" data-poid="in-5427" data-post-type="none"><a
                                    href="http://www.ihstattler.com/blog/2018/04/ihs-students-walk-protest-gun-violence/"
                                    class="zem_rp_thumbnail"><img
                                    src="http://www.ihstattler.com/wp/wp-content/uploads/2018/04/MagdaSmith2020_3-150x150.jpg"
                                    alt="IHS Students Walk Out to Protest Gun Violence" width="150" height="150"/></a><a
                                    href="http://www.ihstattler.com/blog/2018/04/ihs-students-walk-protest-gun-violence/"
                                    class="zem_rp_title">IHS Students Walk Out to Protest Gun Violence</a></li>
                            <li data-position="3" data-poid="in-5384" data-post-type="none"><a
                                    href="http://www.ihstattler.com/blog/2018/04/greenstar-stop-selling-firearms-customers-21/"
                                    class="zem_rp_thumbnail"><img
                                    src="http://www.ihstattler.com/wp/wp-content/uploads/2015/06/tw-150x150.png"
                                    alt="GreenStar to Stop Selling Firearms to Customers Under 21" width="150"
                                    height="150"/></a><a
                                    href="http://www.ihstattler.com/blog/2018/04/greenstar-stop-selling-firearms-customers-21/"
                                    class="zem_rp_title">GreenStar to Stop Selling Firearms to Customers Under 21</a>
                            </li>
                        </ul>
                        <div class="zem_rp_footer" style="text-align: right;"><a class="zem_rp_edit" href="#"
                                                                                 id="zem_rp_edit_related_posts">Edit
                            Related Posts</a></div>
                    </div>
                </div>
                <div class="clear">
                </div>
                <p class="clear"><a class="post-edit-link"
                                    href="http://www.ihstattler.com/wp/wp-admin/post.php?post=6192&#038;action=edit">Edit
                    post</a></p>
                <footer class="post-footer">
                    <section>

                    </section>
                </footer>
                <div id="disqus_thread">
                </div>

            </div>
        </div>
    </div>
    <footer role="contentinfo">
        <nav class="social">
            <ul>
                <li class="twitter">
                    <a href="https://twitter.com/IHSTattler" title="Twitter"></a>
                </li>
                <li class="facebook">
                    <a href="https://www.facebook.com/theihstattler" title="Facebook"></a>
                </li>
                <li class="rss">
                    <a href="http://www.ihstattler.com/feed/rss/" title="RSS feed"></a>
                </li>
            </ul>
        </nav>
        <p class="credit-line">
            © The IHS Tattler </p>
    </footer>
</div>
<link rel='stylesheet' id='zem_rp_edit_related_posts_css-css'
      href='http://www.ihstattler.com/wp/wp-content/plugins/related-posts-by-zemanta/static/themes/edit_related_posts.css?ver=1.14'
      type='text/css' media='all'/>
<script type='text/javascript' src='http://www.ihstattler.com/wp/wp-includes/js/comment-reply.min.js'></script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-includes/js/jquery/ui/resizable.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-includes/js/jquery/ui/draggable.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-includes/js/jquery/ui/button.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4'></script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-includes/js/jquery/ui/dialog.min.js?ver=1.11.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var gadwpItemData = {
        "ajaxurl": "http:\/\/www.ihstattler.com\/wp\/wp-admin\/admin-ajax.php",
        "security": "e062cdc2ff",
        "dateList": {
            "today": "Today",
            "yesterday": "Yesterday",
            "7daysAgo": "Last 7 Days",
            "14daysAgo": "Last 14 Days",
            "30daysAgo": "Last 30 Days",
            "90daysAgo": "Last 90 Days",
            "365daysAgo": "One Year",
            "1095daysAgo": "Three Years"
        },
        "reportList": {
            "uniquePageviews": "Unique Views",
            "users": "Users",
            "organicSearches": "Organic",
            "pageviews": "Page Views",
            "visitBounceRate": "Bounce Rate",
            "locations": "Location",
            "referrers": "Referrers",
            "searches": "Searches",
            "trafficdetails": "Traffic",
            "technologydetails": "Technology"
        },
        "i18n": ["A JavaScript Error is blocking plugin resources!", "Traffic Mediums", "Visitor Type", "Search Engines", "Social Networks", "Unique Views", "Users", "Page Views", "Bounce Rate", "Organic Search", "Pages\/Session", "Invalid response", "Not enough data collected", "This report is unavailable", "report generated by", "This plugin needs an authorization: <strong>authorize the plugin<\/strong>!", "Browser", "Operating System", "Screen Resolution", "Mobile Brand", "Future Use", "Future Use", "Future Use", "Future Use", "Future Use", "Future Use", "Time on Page", "Page Load Time", "Exit Rate"],
        "colorVariations": ["#1e73be", "#0459a4", "#378cd7", "#51a6f1", "#00408b", "#6abfff", "#002671"],
        "region": "",
        "mapsApiKey": "",
        "language": "en-US",
        "filter": "\/blog\/2019\/04\/ihs-students-create-anti-gunviolence-organization\/",
        "viewList": "",
        "scope": "front-item"
    };
    /* ]]> */
</script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-content/plugins/google-analytics-dashboard-for-wp/common/js/reports.js?ver=4.9.6.2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var newsletter = {
        "messages": {
            "email_error": "The email is not correct",
            "name_error": "The name is not correct",
            "surname_error": "The last name is not correct",
            "profile_error": "",
            "privacy_error": "You must accept the privacy statement"
        }, "profile_max": "20"
    };
    /* ]]> */
</script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-content/plugins/newsletter/subscription/validate.js?ver=4.7.6'></script>
<script type='text/javascript' src='http://www.ihstattler.com/wp/wp-includes/js/wp-embed.min.js'></script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-content/plugins/related-posts-by-zemanta/static/js/edit_related_posts.js?ver=1.14'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var embedVars = {
        "disqusConfig": {"platform": "wordpress@4.7.13", "language": ""},
        "disqusIdentifier": "6192 http:\/\/www.ihstattler.com\/?p=6192",
        "disqusShortname": "ihstattler",
        "disqusTitle": "IHS Students Create Anti-GunViolence Organization",
        "disqusUrl": "http:\/\/www.ihstattler.com\/blog\/2019\/04\/ihs-students-create-anti-gunviolence-organization\/",
        "options": {"manualSync": false},
        "postId": "6192"
    };
    /* ]]> */
</script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-content/plugins/disqus-comment-system/media/js/disqus.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var countVars = {"disqusShortname": "ihstattler"};
    /* ]]> */
</script>
<script type='text/javascript'
        src='http://www.ihstattler.com/wp/wp-content/plugins/disqus-comment-system/media/js/count.js'></script>
</body>
</html>